body{ margin:0; background-color: blueviolet ;}
.baslik{width: 100%; background-color: #1ab2ff; padding: 5px 20px; margin: 0px;}
.baslik span{font-size: 54px; color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;}
.baslik h4{font-size: 23px; color: rgb(107, 20, 20); font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;}